# 默认忽略的文件
/../../../SSM/seckill-springboot/.idea/shelf/
/../../../SSM/seckill-springboot/.idea/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/../../../SSM/seckill-springboot/.idea/httpRequests/
# Datasource local storage ignored files
/../../../SSM/seckill-springboot/.idea/dataSources/
/../../../SSM/seckill-springboot/.idea/dataSources.local.xml
